# Docker output & cache
*.log
docker-volume/
*.pid

# Java artifacts
*.jar
target/
build/

# Python artifacts
__pycache__/
*.pyc
.git/
.vscode/
.idea/
*.log
.env
venv/
*.whl
log/
logs/


# VSCode
.vscode/
